.navbar-inverse {
  background-color: #d5c5c;
  border-color: #d5c5c;
}

.main{
		padding-top:80px;
}
	
.bandeau{
		background-color:#C2C2C2;
}
	
h1 {
		font-size: 5em;
		font-family: Roboto;
		color:#CD5C5C;
		text-align:center
}

h2{
	text-transform: uppercase;
	font-size: 3em;
	text-indent: 5px;
	font-family: Roboto;
}

h4 {
		text-align:center;
}

.type{
		border-radius:5px;
		color:#ffffff; 		
		padding-right: 5px; 
		padding-left: 5px;
}

.plante{
		background-color:#9BCC50;
}
	
.poison{
		background-color:#B97FC9;
}
	
.description-pokemon {
		background-color:#C2C2C2;
}

.informations-pokemon{
		background-color:#cd5c5c;
		border-radius:10px;
}

.taille{
	padding-right: 0px; 
	padding-left: 0px;	
	background: #444444;
}

.poids{
	padding-right: 0px; 
	padding-left: 0px;	
	background: #444444;
}

.enonce{
		color: #FFFFFF;
		background: #000000;
}

.donnee{
		color: #000000;
		background: #FFFFFF;
}

.avis{
	background-color:#D0A6A6;
	height:30em;
}
	
.avis p{
	color: #FFFFFF;
}
	
.avis blockquote footer{
	color:#000000;	
}
	
.kiviat{
	height:30em;
	background-color:#FFFFFF;
}
    
.flex-container {
    height: 100%;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
	border-radius:5px;
	text-align:center;    
	width: 40%;
	margin: 5px;
}

.evol-container{
	background-color:#EEE;
}

.img-circle-container{
		background-color:#888888;
		 border-color:#FFFFFF;
		  border-width:7px; 
		  border-style:solid; 
		  border-radius:50%	
	}
	
.img-circle-container img{
	width:100%;
}	


/*ANIMATIONS*/

.slideanim {
	visibility:hidden;
}

 .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
 }
 
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }